.adminsidebarrow{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 0px 20px;
    border-radius: 5px;

 
}
.adminsiderow_icon{
     height: 24px;
    width: 24px;

}
.adminsiderow_title{
    margin-left: 24px;
    font-size: 1.2rem;
   
    font-weight: 500;
}
.adminsidebarrow:hover{
    background-color: #f2f2f2;
    color: #ff333c;
}