.buildCareer{
    background-color: #25215e ;
    display: flex;
    color: white;
}
.buildCareer_left{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    /* background-color:#25215e  ;
    border-bottom-right-radius: 300px; */


}
.buildCareer_right{
    flex: 0.5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.buildCareer_right > h3{
    font-size: 40px;
}
.buildCareer_right > h6{
    font-size: 15px;
}
.buildCareer_right>p{
    margin: 0;padding: 0;
}
.careerImg{
    /* margin-left: 20px; */
    width: 500px;
    /* border-bottom-right-radius: 300px; */
    /* background-color: #25215e; */
}
.buildCareer_btn{
    padding: 5px 10px;
    /* font-weight: bold; */
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color:#464373 ;
    box-shadow: 0 0 5px #464373, 0 0 4px #464373, 0 0 5px #464373,;
    color: white;
    font-size: 20px;

}
.buildCareer_btn:hover{
    color: black;
    /* z-index: 100; */
}
#explore_btn{
    position: relative;
    overflow: hidden;
    transition: all .45s ease-Out;
}

#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #BFC0C0;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
  }
  #explore_btn:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 0.5;
    top: -70px;
    left: -70px;
  }