.customsoftware {
    font-family: 'Open Sans', sans-serif;
}

.customsoftware_top::before {
    content: " ";
    background: url("https://ishwarishinde.github.io/cdn/customsoftware2.jpg") center/cover;
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    /* opacity: 1; */

}

.customsoftware_top {
    position: relative;
    width: 100%;
    height: 80vh;

    /* margin-approach: 10px; */
    overflow-x: hidden;
    /* background-color: #f2f2f2;
    opacity: 0.3; */

}

.customsoftware_heading_container::before {
    /* content: '';
    background-color: #525050;
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 90%;
    width: 100%;
    opacity: 0.69; */

    content: " ";
    background: hsla(350, 93%, 61%, 1);

    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F83D5C", endColorstr="#FD4B2F", GradientType=1 );
    /* background-color: #313131; */
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 80px;
    z-index: -1;
    padding: 10px;
    /* opacity: 0.89; */
}

.customsoftware_heading_container {

    /* background-color: #25152e; */
    /* color: white;
    display: flex;
    flex-direction: column;

    align-items: center; */
    /* justify-content: center; */
    /* font-size: 50px; */
    /* letter-spacing: 2pt; */
    /* font-weight: 600; */

    /* border-bottom-left-radius: 80px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 80px; */
    /* font-family: 'Playfair Display', serif; */
    /* padding-top: 130px; */


    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 10%;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: center;
    /* font-size: 50px; */
     font-family: 'Playfair Display', serif;
}

.custom_heading {
    font-size: 50px;
    font-weight: normal;
}

.custom_description {
    font-size: 18px;
    font-weight: normal;
    margin-top: -45px;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
  
}

/* .customsoftware_mid::before {
    content: " ";
    position: absolute;
    background-color: #ff333c;
    height: 2px;
    width: 600px;
    right: 0;
    top: 51%;
    right: 13%;
    transform: skewY(18deg);
} */

.customsoftware_mid {
    position: relative;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-left: 70px;
    margin-right: 70px;
    color: #383838;
    /* background-color:#f2f2f2; */
    padding: 0px 50px;
    text-align: justify;
}


.customsoftware_mid>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: center;
}

.customsoftware_approach::before {
    content: "";
    background: url("https://ishwarishinde.github.io/cdn/dummy6.jpg") no-repeat center/cover;
    background-color: #ff333c;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.customsoftware_approach {
    position: relative;
    margin: 50px 0px;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.customsoftware_approach_inner{
    background: hsla(350, 93%, 61%, 1);

    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F83D5C", endColorstr="#FD4B2F", GradientType=1 );
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    box-shadow: rgba(6, 6, 17, 0.35) 0px 5px 15px;
    padding: 40px 90px;
    color: white;
    width: 400px;
    border-radius: 5px;
}

.customsoftware_approach_inner>h1 {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}

.customsoftware_approach_inner_content>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: justify;

}

.customsoftware_img {
    width: 500px;
    border-radius: 5px;
}



.custom_discovery {
    position: relative;
    display: flex;
    margin: 0px 50px;
}

.custom_discovery_left {
    flex: 0.5;
    position:relative;
    background-color: #f2f2f2;
    /* color: white; */
    border-radius: 5px;

    padding: 10px 75px;
    
}


.custom_discovery_left>h1 {
    font-size: 25px;
    letter-spacing: 2px;
   
}



.custom_discovery_left  >p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: justify;
}

.custom_discovery_right {
    flex: 0.5;
    display: flex;
    justify-content: center;
}

.custom_discovery_right_img {
    width: 500px;
    border-radius: 40px;
}


.custom_user_journey {
    position: relative;
    margin:80px 50px;
    display: flex;
}

.custom_user_journey_left {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_user_journey_right>h1 {
    font-size: 25px;
    letter-spacing: 2px;
}

.custom_user_journey_right>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: justify;
}

.custom_user_journey_right {
    flex: 0.5;
    /* background-color: #25215e; */
    background-color: #f2f2f2;
    text-align: justify;
    /* color: white; */
    padding: 40px 90px;
    border-radius: 5px;

}

.custom_development {
    display: flex;
}

.custom_development_left {
    flex: 0.5;
}

.custom_development_right {
    flex: 0.5;
}

.custom_dev_test_deploy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_dev_test_deploy_inner {
    background-color: #f2f2f2;
    border:2px solid #ff333c;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    padding: 0px 50px;
    text-align: justify;
    margin-left: 45px;
    /* opacity: 0.7; */
}

.custom_dev_test_deploy_inner>h1 {
    font-size: 25px;
    letter-spacing: 2px;
}

.custom_dev_test_deploy_inner>p {
    /* margin-top: -10px; */
    font-size: 15px;
    letter-spacing: 1px;
    /* line-height: 1.63; */
    text-align: justify;
}

.customsoftware_explore {
    padding: 10px 80px;
}

.customsoftware_explore_content {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.custom_methodology {
    margin: 50px 150px;
    background: hsla(350, 93%, 61%, 1);

    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F83D5C", endColorstr="#FD4B2F", GradientType=1 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-radius: 10px;
}

.custom_methodology>h1 {
    font-size: 25px;
    /* letter-spacing: 1px; */
    color: white;
    /* text-align: center; */
}

.custom_methodology_inner {
    background-color: #dadada;
    box-shadow: 8px 10px #525050;
    width: 600px;
    padding: 40px 30px;
    border-radius: 5px;
    text-align: justify;
    margin-top: 10px;
   
}
.custom_methodology_inner > p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28.17px;
    
}

.custom_stack {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0px 40px;


}

.custom_stack_left {
    flex: 0.5;

    display: flex;

    align-items: center;
    justify-content: center;
}

.custom_stack_left_inner {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background-color: #f2f2f2;
    width: 600px;
    height: 300px;
    padding: 30px 50px;
}

.custom_stack_left_inner>h1 {
    font-size: 25px;
    letter-spacing: 2px;
    
    /* font-family: 'Open Sans', sans-serif; */
}

.custom_stack_left_inner>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: justify;
}

.custom_stack_right {
    position: relative;
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.custom_stack_right_circle {
    position: absolute;
    background-color: #050505;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.stack_circle1 {
    bottom: 45px;
    left: 30px;

}
.stack_circle1::before{
    content: "";
    background: url("https://ishwarishinde.github.io/cdn/customstack4.jpg") center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.stack_circle2::before{
    content: "";
    background: url("https://ishwarishinde.github.io/cdn/customstack3.jpg") center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.stack_circle2 {
    top: 40px;
    left: 50px;
}

.stack_circle3 {
    top: 5px;
    right: 90px;
}
.stack_circle3:before{
    content: "";
    background: url("https://ishwarishinde.github.io/cdn/customstack2.jpg") center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.stack_circle4 {
    bottom: 35px;
    right: 80px;

    height: 160px;
    width: 160px;
}
.stack_circle4::before{
    content: "";
    background: url("https://ishwarishinde.github.io/cdn/customstack5.jpg") center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.stack_circle5::before{
    content: "";
    background: url("https://ishwarishinde.github.io/cdn/customstack1.jpg") center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* z-index: -1; */

}
