.expertise{
    /* background-color: #ff3738; */
    background-color: #f2f2f2;
      text-align: center;
  
}
.expertise_heading{
    padding: 10px;
}
.expertise_heading > h1 {
  
    font-size: 34px;
    font-weight: 700;
    color: #ff333c
}
.expertise_inner{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}