.purpose{
    display: flex;
    flex-wrap: wrap-reverse;
  background: hsla(350, 93%, 61%, 1);

    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F83D5C", endColorstr="#FD4B2F", GradientType=1 );
    margin:50px 50px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
}
.about_left{
    flex: 0.5;
    display: flex;
    align-items: center;
   
    
}
.about_right_inner{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.about_right >.about_right_inner> h1{
   
    font-size: 48px;
    line-height: 1.20;
    letter-spacing: 0;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
}
.about_right>.about_right_inner .about_right_inner_content >p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24.17px;
    text-align: justify;
    color: #d1d0d0;

    
}
.about_right{
    flex: 0.5;
    padding: 10px 70px;
}
.about_heading{
    font-size: 20px;
    color: #ff3738;
}
.about_text{
    text-align: justify;
    padding: 5px 50px;
}
.purpose_image_resize{
    width: 565px;
    border-radius: 30px;
 
}