.value{
    text-align: center;
    background-color: #ff3738;
}
.value_inner{
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
    justify-content: flex-start;
    align-items: center;
    padding:10px 250px ;
}