.WebDevelopment{
    font-family: 'Open Sans', sans-serif;
}
.webdev_top::before{
content: "";
background:url("https://ishwarishinde.github.io/cdn/dummy8.jpg") center/cover;
position: absolute;
height: 90%;
width: 100%;
top: 0;
left: 0;
z-index: -1;

    
}
.webdev_top{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
}
.webdev_heading_container::before {
    content: '';
   
    background-color: #525050;
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 90%;
    width: 100%;
    /* border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.5); */
    opacity: 0.39;
}
.webdev_heading_container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}
.web_heading{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.web_description{
    font-size: 21px;
    font-weight: normal;
    margin-top: -35px;
    letter-spacing: 2px;

}
.webdev_tagline{
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px 50px;
}
.webdev_tagline > p{
    /* color: #393939; */
    font-size: 20px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: center;
    
}

.webdev_process > h1{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}
.webdev_process_inner{
    background-color: #f2f2f2;
    padding-bottom: 100px;
}
.webdev_process_inner_row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.webdev_whyus{
    display: flex;
    padding: 50px 90px;
    

}
.webdev_whyus_left{
    flex: 0.4;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}
.webdev_whyus_left > h1{
    font-size: 34px;
    font-weight: 700;
}

.web_quoteline{
    height: 3px;
    width: 300px;
    border-radius: 4px;
    background-color: #ff333c;
    font-size: 20px;
    transform: rotate(90deg);
}
.webdev_whyus_right{
    flex: 0.6;
}
.webdev_whyus_right > p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: justify;
}

.webdev_bottom{
    display: flex;
    padding: 50px 90px;
    
}
.webdev_bottom_left{
    flex: 0.4;
    display: flex;
    align-items: center;
}
.webdev_bottom_left > h1{
    
    font-size: 34px;
    font-weight: 700;
}
.webdev_bottom_right{
    flex: 0.6;
}
.webdev_bottom_right >p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28.17px;
    text-align: justify;
}
